.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffff;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}
.formGroup input {
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffff;
  color: #000;
}
.submitBtn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.error {
  color: red;
}
.passwordInput {
  position: relative;
}
.passwordVisible {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
