.card {
  background-color: #ffff;
  border-radius: 10px;
  padding: 20px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn 0.6s ease;
}
.cardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card h1 {
  font-size: 26px;
  text-align: justify;
}
.card img {
  display: block;
}
.cardBody {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 15px;
}
.category {
  font-weight: 700;
}
.productPrice {
  font-size: 25px;
  font-weight: 700;
}
.cardSection {
  margin-block: 30px;
}
.loadingData {
  position: absolute;
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s hide ease-in-out infinite;
  color: #ffff;
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 1024px) {
  .card {
    flex-direction: row;
    align-items: center;
    min-height: 450px;
    gap: 40px;
    padding: 30px;
  }
  .card h1 {
    font-size: 20px;
    text-align: left;
  }
  .cardHeader {
    height: 340px;
    justify-content: space-between;
  }
  .cardBody {
    height: 340px;
    justify-content: space-between;
  }
  .productPrice {
    align-self: flex-end;
  }
}
@media (min-width: 1400px) {
  .card {
    flex-direction: row;
    align-items: center;
    min-height: 450px;
    gap: 40px;
    padding: 50px;
    justify-content: space-around;
  }
  .card h1 {
    font-size: 26px;
    text-align: left;
  }
  .card img {
    width: 300px;
    height: 300px;
  }
  .cardHeader {
    height: 100%;
    justify-content: space-between;
  }
  .cardBody {
    height: 100%;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    font-size: 18px;
  }
  .cardBody p {
    font-size: 20px;
  }
  .cardBody h3 {
    font-size: 22px;
  }
  .productPrice {
    align-self: flex-end;
  }
  .star {
    font-size: 30px !important;
  }
}
