.cartContainer {
  background: linear-gradient(45deg, #667eea, #ac77e2);
  border-radius: 10px;
  padding: 20px;
  animation: fadeIn 0.6s ease;
  color: #ffff;
  margin-bottom: 30px;
}
.cartItemsHeader {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: auto;
  border-bottom: 1px solid #ffff;
  padding-bottom: 10px;
  color: #ffd86b;
}
.cartItemsHeader div {
  font-weight: 700;
}
.loadingData {
  position: absolute;
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s hide ease-in-out infinite;
  color: #ffff;
}
.cartItem {
  display: grid;
  align-items: center;
  padding-block: 10px;
  gap: 10px;
  grid-template-columns: repeat(4, auto);
  border-bottom: 1px solid #ccc;
}
.cartHeadWrapper {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  max-width: 100px;
  width: 100%;
  gap: 10px;
}
.cartHeadWrapper p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-decoration: underline;
}
.cartImgTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btnContainer {
  display: flex;
  align-items: center;
  gap: 7px;
}
.btnContainer .quantity {
  background-color: #ccc;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 5px;
  font-weight: 700;
}
.plus,
.substract {
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
  color: #ffff;
  background-color: transparent;
  animation: all 0.2s ease-in-out;
}
.plus:active,
.substract:active {
  transform: scale(0.8);
}
.removeBtn {
  padding: 4px;
  background: linear-gradient(135deg, #ffd86b, #ff9f43);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.removeBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px #ffd86b80;
}
.cartItem button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.cartSummary h3 {
  font-size: 15px;
}
.cartSummary {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.cartSummary button {
  cursor: pointer;
  background: linear-gradient(135deg, #ffd86b, #ff9f43);
  border: none;
  border-radius: 30px;
  justify-self: center;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.cartSummary button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px #ffd86b80;
}
.cartSummary button:active {
  transform: scale(0.8);
}
.formGroup {
  position: relative;
}
.formGroup input {
  width: 100%;
  padding: 12px 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  outline: none;
  color: #fff;
  font-size: 16px;
}
.formGroup label {
  position: absolute;
  left: 10px;
  top: 25%;
  transform: translateY(-25%);
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease;
}
.formGroup input:valid + label,
.formGroup input:focus + label {
  top: 0px;
  font-size: 12px;
  color: #fff;
}
.btnLink {
  color: #ffd86b;
}
.btnLink:hover {
  text-decoration: underline;
}
.loadingMessage {
  color: #ffff;
  margin: auto;
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 600px) {
  .cartItem {
    padding-block: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  .cartItemsHeader {
    grid-template-columns: repeat(4, 1fr);
  }
  .cartItemsHeader div {
    font-size: 18px;
  }
  .cartHeadWrapper img {
    width: 90px;
    height: 70px;
  }
  .removeBtn {
    width: 50px;
    height: 50px;
    justify-self: center;
  }
  .priceContainer span {
    font-size: 22px;
  }
  .btnContainer .quantity {
    padding-block: 10px;
    padding-inline: 15px;
    font-size: 18px;
    font-weight: 700;
  }
  .cartSummary {
    flex-direction: row;
  }
  .cartSummary button {
    padding: 12px;
    font-size: 16px;
  }
  .cartSummary h3 {
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  .cartHeadWrapper {
    max-width: 130px;
  }
  .cartImgTextWrapper {
    flex-direction: column;
    gap: 10px;
    display: flex;
  }
  .cartHeadWrapper img {
    width: 130px;
    height: 120px;
  }
}
